.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

p{font-size: 20px;}
pre {
  color:white;
  background-color: #333;
}
#phoneTutorial{
  
  text-align: center;
  position: fixed;
  top:41px;
  
  background-color: lightskyblue;
  border-radius: 50%;
  width:40px;
  height: 40px;
}
mat-menu-item{
  background-color: red;
}
a{

}

button
{  
  
}
#wrapper {
    width: 500px;
    border: 1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 300px;
    float:left; /* add this */
    border: 1px solid red;
}
#second {
    border: 1px solid green;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

#tutorialBut{
  position: fixed;
  top: 51px;
  width: 100%;
  z-index:1; /*so elements cant go above the navbar*/

}

@media only screen and (max-width: 992px){
  p{
    font-size: 13px;
  }
  
}