.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

p{font-size: 20px;}
pre {
  color:white;
  background-color: #333;
}
#phoneTutorial{
  width: 100%;
  text-align: center;
}
mat-menu-item{
  background-color: red;
}
a{

}