<ul>
  
	<li><a [routerLink]="['/']"><button style="background-color:lightblue;" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Home</button></a></li>
	<li class="dropdown" id="buttonhref">
	<a href="javascript:void(0)" class="dropbtn">Example</a>
    <div class="dropdown-content">
      <a [routerLink]="['/Trip']" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Trip</a>
      <a [routerLink]="['/Dna']" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Dna</a>      
    </div>
    </li>
	<li><a [routerLink]="['/Tutorial']" title="Ceatch up with Angular 2/4"><button style="background-color:greenyellow;" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Tutorials</button></a></li>
	<li><a [routerLink]="['/Articles']"> <button style="background-color:blue;" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Articles</button></a></li>
  <li><a [routerLink]="['/Contacts']"><button style="background-color:orange;" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Hire me</button></a></li>
</ul>
