<ul>

	<li><a [routerLink]="['/']"><button  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Home</button></a></li>
	<li class="dropdown" id="buttonhref">
	<a href="javascript:void(0)" class="dropbtn">Demos</a>
    <div class="dropdown-content">
    <!--  <a [routerLink]="['/Trip']" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Trip</a> !-->
      <a [routerLink]="['/Dna']" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Dna</a>      
    </div>
    </li>
	<li><a [routerLink]="['/Tutorial']"><button  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Tutorials</button></a></li>
	<li><a [routerLink]="['/Articles']"> <button [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Articles</button></a></li>
  <li><a [routerLink]="['/Contacts']"><button  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Contacts</button></a></li>
</ul>
