
 



<mat-grid-list cols="4" rowHeight="100px" >
  <mat-grid-tile [colspan]="3" [rowspan]="2" style="background-image:url('../assets/images/panoramic.jpg'); width:100%;" ></mat-grid-tile>
   <mat-grid-tile [colspan]="1" [rowspan]="2">Resume: <a href="/assets/files/cvGil-Marom.pdf" download="cvGil-Marom.pdf" id="dowloadCV"><img src="assets/images/if_pdf_7923.png" title="download cv"></a></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="3" >
        
        
         <pre style="font-size:20px;" fxLayoutAlign="start start">           
Contact me at:
 
Gilmarom23@gmail.com
                
or at my linkedin profie
           </pre> </mat-grid-tile>
     <mat-grid-tile [colspan]="2" [rowspan]="3" ><object data="/assets/files/cvGil-Marom.pdf" type="application/pdf" width="100%;" height="300px;">
        <iframe src="/assets/files/cvGil-Marom.pdf" width="100%" height="100%" style="border: none; ">
          This browser does not support PDFs. Please download the PDF to view it: <a href="/pdf/sample-3pp.pdf">Download PDF</a>
        </iframe>
      </object> </mat-grid-tile> 
    
      <mat-grid-tile [colspan]="1" [rowspan]="3" > <img src="assets/images/gilshampaine.JPG" title=""></mat-grid-tile>  
    
        <mat-grid-tile [colspan]="1" [rowspan]="2" > </mat-grid-tile>  
        <mat-grid-tile [colspan]="2" [rowspan]="2"><mat-card style='width:98%; height:98%;' fxLayoutAlign="center center">
                                          
           <a href="https://www.linkedin.com/in/gil-marom-a2a10295/"><img src="assets/images/linkdin.png" title="linkdin"></a>                          
           <a href="https://github.com/gilmarom"><img src="assets/images/github.png" title="github"></a>        
          </mat-card></mat-grid-tile>              
        <mat-grid-tile [colspan]="1" [rowspan]="2"  style="background:black;" ></mat-grid-tile>  
    
</mat-grid-list>

