<div style="background: Cornsilk; ">  
<img src="assets/images/puzzledna.jpg" style='height:300px; width:100%;'> 
   
   
   <div style="margin-top: 100px;"
       fxLayoutAlign="center center">
   <div >
<pre style="font-size:15px;">


Contact me at:
 
Gilmarom23@gmail.com
                
or at my linkedin profie
           </pre>
</div>   
   <img src="assets/images/profile.png"> 
   </div>
   <div fxLayout.xs="column"
        fxLayoutAlign="center center" 
        style="padding-top: 30px;">
       <div 
       fxLayoutAlign="center center"
       [ngStyle.xs]="{'font-size.px': 25}"  
       style="font-family:URW Chancery L, cursive; font-size:30px; width:30%; color:blue;" >Growing my interest in the <br>field of dna sequencing.
        and genetic engineering
       </div>
        <div 
        fxLayoutAlign="center center"
        [ngStyle.xs]="{'font-size.px': 25}"
        style="font-family:URW Chancery L, cursive; font-size:30px;  width:30%; color:blue;">
             Looking for a work with the possibility to create an Extensive change in human health.
        </div>
   </div>
       
<div id='social-menu'  fxLayoutAlign="center center">      
            <a href="https://www.linkedin.com/in/gil-marom-a2a10295/"><img src="assets/images/linkdin.png" title="linkdin"></a>                          
            <a href="https://github.com/gilmarom"><img src="assets/images/github.png" title="github"></a> 
</div>
   </div>