<div style="background: mediumseagreen;">  

   <div style="margin-top: 100px;"
       fxLayoutAlign="center center">
   <div >
<pre style="font-size:15px;">


Contact us at:
 
mendelhaimbiz@gmail.com
                
or at my linkedin profie
           </pre>
</div>   
   
   </div>
  
       
<div id='social-menu'  fxLayoutAlign="center center">      
            <a href="https://www.linkedin.com/in/gil-marom-a2a10295/"><img src="assets/images/linkdin.png" title="linkdin"></a>                          
            <a href="https://github.com/gilmarom"><img src="assets/images/github.png" title="github"></a> 
</div>
   </div>
