<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
<br>
<div class="flex-container">
</div>


<div class="flex-container">
 <div id="values">
<div>      
<h1>Our Why?</h1>
  
<h2>Today Creating a Better World is a Decision Away, We Decided !</h2>
</div>
  <div class="value">
      <div id="title">Impact & innovation</div>
      <div>We are here to promote the innovators who are struggling to improve the world, this is our way to impact</div>
  </div>
 
  <div class="value">
      <div id="title">Sharing</div>
      <div>Sharing is caring, adding tutorials and articles is our way to create value to our community</div>
  </div>
  <div class="value">
     <div id="title">Compassion</div>
      <div>We are aware of the accelerated development and the social dilemmas that lie ahead in the near future. Compassion is what will connect us as one society. Massive medical progress is essential to human functioning</div>
  </div>
 </div>
 <div>
    <div></div>

 </div>
</div>



      
