<p>
  about works!
</p>
   <div fxLayout='column'  fxLayoutAlign='center center' [ngStyle.lt-md]="{'margin-left':'2%','width':'95%'}" style="height:100%; width:40%; margin-top:50px; margin-left:30%; box-shadow: 5px 10px 8px 10px #888888;">
            
            <div
              fxFlexOrder="2" 
              style="color: #888888; padding: 5%; font-size:22px;"
              >Gregor Johann Mendel ( 20 July 1822 – 6 January 1884) was 
              a scientist, Augustinian friar and abbot of St. Thomas' Abbey. 
              Mendel was born in Silesian part of the Austrian Empire (today's Czech Republic) and gained
              posthumous recognition as the founder of the modern science of genetics 3 Decades after his study. 
              It was inevitable to add to 
              his name the word Haim, meaning life in hebrew, this way i gratitude not only him but my grandfather
              Menahem Mendelovitz whos nick name by his closest was Mendel Haim.</div>
            <img 
            fxFlexOrder="1" 
            src='../assets/images/mendel.png'> 
               
        </div>
      