
   
    
<div fxLayout = "column"  fxLayoutAlign="center center" style="margin-top: 50px;">
        <h1>Let's start with Angular</h1>
        <h3>welcome angular 5</h3> 
</div>         
        <p>In a nutshell,  Angular is a component framework, we usually apply on it the MVC architecture.
           The conventional way to use Angular is to divide the app to components, services and models.
           There isn't any core difference between components and services, both are just classes.
           the functionality of each, is defined by importing from the angular/core module different decorators.
           later we will see an example of code but for now just remember!!!,
           Angular itself is built from java script modules, @angular/core module is one of them and he's responsible of many tools for starting our Angular app   
         </p>
         <p>
            <li><strong>component - </strong> gets a @Component decorator and it handles the view's elements and the logic to the specific view, so 
            you can say it's the view and the controller both in mvc architecture.</li>
            <li><strong>service - </strong> will be decorated with @injectable and it's main job is to inject the object (model) to the
             component. an example of a service will be the communication between the client and server.</li>         
          </p>
          <br>
           
          <h1>Modules</h1>
          
          <p><strong>NgModule</strong> is the first basic structure you meet when coding an app with Angular.
            An NgModule is a class decorated with @NgModule. This component is like the instructions for the
            module's communication with the rest of the app. lets see its jobs....  
          
            <li>Declare which components, directives, and pipes belong to the module.</li>
            <li>Make some of those classes public so that other component templates can use them</li>
            <li>Import other modules with the components, directives, and pipes needed by the components in this module.</li>
            <li>Provide services at the application level that any application component can use.</li>
          </p>
          <h3>Here we have example of NgModule</h3>
           
             <div>
         <prism language="typescript" > import &#123; NgModule &#125; from '@angular/core';
 import &#123; BrowserModule &#125; from '@angular/platform-browser';    
 import &#123; RouterModule, Routes &#125; from '@angular/router';
 import &#123; HttpModule &#125; from '@angular/http'; 
 import &#123; FormsModule , ReactiveFormsModule &#125; from '@angular/forms';                              
 import &#123; AppComponent &#125; from './app.component';    
 import &#123; NavbarComponent &#125; from './components/navbar/navbar.component';
 import &#123; ContactsService &#125; from './services/contacts.service';
 import &#123; ResturantListComponent &#125; from './components/resturant-list/resturant-list.component';
                            
                      @NgModule(&#123;
                      imports: [ BrowserModule,
                                 HttpModule,               
                                 RouterModule.forRoot(appRoutes)],
                      exports:[ResturantListComponent],          
                      providers: [ContactsService ],
                      declarations: [AppComponent, NavbarComponent],
                      bootstrap: [AppComponent]
                          &#125;)
                          export class AppModule &#123; &#125;
                          
        </prism>
</div> 
      <br> 
      <p>We can learn a lot from this example on how to work with Angular,
      <strong>The Providers and Declarations</strong> are the two main structures in the NgModule 
        and there is a big difference between them in the scope/visibility.
     </p>
      <p>
        <li>Providers - Global scope (public visibility).</li>
        <li>Declarations - Local scope (private visibility).</li>
      <br>
        As a result, components, pips and directives declared are usable only in 
        the current module, for using them in another module you will need to export them.
        On the contrary, services you provided will be available / injectable anywhere in your app, 
        just by import the service to the providers as we did in the example above.  
      </p>
       <p>we will create an angular app by writing in the cmd</p>
       <div><prism language="typescript"> ng new angular-src </prism></div>
      <p>
        Add the components, services and models folders under the 
        app folder in, then go to the components folder in your terminal and write:                                                                          
      </p>                                                  
      <div><prism language="typescript">ng g component "file name"</prism></div>
      <p> and then go to the services folder and write: </p>          
      <div><prism language="typescript">ng g service "service name"</prism></div>      
           
      <p>
      This is how the basic stracture angular 4 apps usually looks like, most 
      of the tools souch as angular/cli, ionic and ex` will automatcliy 
      preduce the rest of the files needed to set your enviornment.
      <strong>in Angular2 above, importent to remeber static fiels must go only under the assets folder the cli created</strong>
      </p>
      
      <app-tree-view></app-tree-view>
      
      <P style="padding-bottom: 60px;">To be continue.....</P>
   
 

