

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
<div class="container">
  
    
<nav class="nav">
    <ul>
             <li > <img class = "logo-section"  src="../assets/images/mh.png" ></li>  
        <li><a [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Home | </a></li>
        <li class="nav-submenu"><a id="buttonhref" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Demos | </a>
            <ul>
               <!-- <li><a [routerLink]="['/Trip']" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Trip</a></li>!-->
                <li><a [routerLink]="['/Dna']" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Dna</a></li>
            </ul>
        </li>
        <li><a [routerLink]="['/Tutorial']" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Tutorials | </a></li>
        <li><a [routerLink]="['/Articles']" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Articles | </a></li>
        <li><a [routerLink]="['/Contacts']" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Contacts | </a></li>
  
            
    </ul>
          
</nav>
        
</div>


