

 .nav
 {
  background-color: black; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1; /*so elements cant go above the navbar*/
  height: 50px;
 } 
 .nav li {
    width: 130px;
    border-bottom: none;
    height: 30px;
    line-height: 20px;
    font-size: 20px;
    display: inline-block;
    margin-right: -4px;
  }
   
  .nav a {
    border-bottom: none;
  }
  
  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  .nav li:hover ul {
    display: block;
  }
   
  .nav li ul li {
    display: block;
  }
