
<div fxLayout = "column"  fxLayoutAlign="center center" style="margin-top: 50px;">
<h1>Create app with python for analytics and node as server</h1>
<p>

The growing popularity of node js in recent years is amazing.
The large amount of npm open source free packages and the large amount of tutorials are pots node in a spot of an attractive server side framework to work with.
Add to this the consideration of growing usage of java scripts client side framework, 
Such as Angular and react js, you can imagine the advantage of working on the same language both back and front ends.   
Node is a JavaScript runtime built on Chrome's V8 JavaScript engine. It uses an event-driven, non-blocking I/O model to be both lightweight and efficient for server side applications
Lets see the difference between node to php on handling a file request to server:
In php:
<li>1.	Sends the task to the computer's file system.</li>
<li>2.	Waits while the file system opens and reads the file.</li>
<li>3.	Returns the content to the client.</li>
<li>4.	Ready to handle the next request.</li>
In node:
<li>1.	Sends the task to the computer's file system.</li>
<li>2.	Ready to handle the next request.</li>
<li>3.	When the file system has opened and read the file, the server returns the content to the client.</li>
As you can imagine node is much faster
It eliminates the waiting, and simply continues with the next request.  
This is doe to the unique event-driven module.
On the other hand python rocks any analytical development such as ML , data scince , statistics and math doe to some strong modules such as numpy, nltk and more.  So in this tutorial ill take all the way to configure node + with python. This solution is grate for reducing development time


</p>
</div>