       
        
        <div fxLayout='column' fxLayoutAlign='center center'style=" height:550px; background-image:url(../assets/images/leaf.jpg) ">
          <p style="font-family:URW Chancery L, cursive; color:white; font-size:40px">Now is the time to create a better world.</p>
          <div style="font-family:URW Chancery L, cursive; color:white; font-size:60px">Mendel Haim</div>
          <div> </div>
          <div></div>
        </div>
       
       <div fxLayout='row' fxLayoutAlign='center start' style="padding-top:50px; ">
        
            <p style="width:400px; height:190px; color:blue">Gregor Johann Mendel ( 20 July 1822 – 6 January 1884)  was a scientist, Augustinian friar and abbot of St. Thomas' Abbey. Mendel was born in Silesian part of the Austrian Empire (today's Czech Republic) and gained posthumous recognition as the founder of the modern science of genetics Decades after his study. It was Inevitable to add to his name the word haim, meaning life in hebrew to push forward his inspiration in our vision.</p>
            <img src='../assets/images/mendel.png'> 
               
        </div>
           
         
     <div fxLayout='row' fxLayoutAlign='space-evenly center' style= 'width:100%; height:600px; margin-bottom:50px; padding-top:40px;'>
        
        <div fxLayout='column' [ngStyle.lt-md]="{'width':'65%'}"  style='width:25%; height:100%;'>
            
              <div style='height:34%;'>
                  <h2 style="font-family:URW Chancery L, cursive;">
                    Mission
                  </h2>    
                  <p style="font-size:18px; color:saddlebrown;" [ngStyle.lt-md]="{'font-size':'14px'}">
                   Mendelhaim is in a mission to bring cutting age technology into human health care, we belive
                   creating inspiring content will angage researchers, developers, investors in extensive change in human health.  
                 </p>
              </div>  
               <div style='height:33%;'>
                <h2 fxHide='true' fxShow.lt-md='true' style="font-family:URW Chancery L, cursive;" >Vision</h2>
                <p fxHide='true' fxShow.lt-md='true' style="font-size:18px; color:saddlebrown;" [ngStyle.lt-md]="{'font-size':'14px'}">Human beans living their life to their
                   full true potential, As simple as that.
                </p>
              </div>
               <div style='height:33%;'>
                <h2 style="font-family:URW Chancery L, cursive;">Partnership</h2>
                <p style="font-size:18px; color:saddlebrown;" [ngStyle.lt-md]="{'font-size':'14px'}">We are open minded, if you see a way you can angage in our vision contact us at mendelhaimbiz@gmail.com.</p>
              </div>
            
          </div>  
        
        <div fxLayout='column' [ngStyle.lt-md]="{'width' :'35%'}">
             <img style='height:450px;' src="../assets/images/chart.jpg">
        </div> 
        
        <div fxLayout='column'  style='width:25%; height:100%;' fxHide.lt-md='true'>
           
              <div style='height:33%;'>
                 
              </div>  
               <div style='height:33%;'>
                   <h2 style="font-family:URW Chancery L, cursive;">Vision</h2>
                <p style="font-size:18px; color:saddlebrown;" >Human beans living their life to their
                   full true potential, As simple as that.</p>
              </div>
               <div style='height:33%;'>
              </div>
            
          </div> 
     </div>
      
       