
      
      
      <div style="padding-bottom:70px; background-image: url('../assets/images/code1.jpg');">
      <div
         style= "margin-bottom: 70px; margin-top: 30px;" 
         fxLayout="row"  
         fxLayoutAlign="center center"
         fxLayoutGap="10px"> 
             
        <h1 style="font-size: 30px; color:white;"> The Thrill is on....</h1>
      </div>   
        
      <div 
         fxLayout.xs="column"
         fxLayoutAlign="space-evenly center" style="padding-top: 30px;">
                        
          <img style="width:128px; hight:128px;" src="../assets/icons/if_application-x-python_8974.png">
      
          <img style="width:200px; hight:200px;" src="../assets/images/background.jpg">  
       
          <img style="width:128px; hight:128px;" src="../assets/icons/if_node-js_1269842.png">
        
      </div>
      <div fxLayout.xs="column"
           fxLayoutAlign="center center">
        
          <img style="width:128px; hight:128px;" src="../assets/icons/angular.png">
        
      </div>
    </div>
      <div
         style= "margin-bottom: 70px; margin-top: 30px;" 
         fxLayout="row"  
         fxLayoutAlign="center center"
         fxLayoutGap="10px"> 
             
        <h1 style="font-family:URW Chancery L, cursive; font-size: 30px;"> This Blog is designed to make shit done</h1>
      </div>   