   <!-- Articles content section, need to be choosen from articles list  !-->
  <div 
     fxShow
     fxLayout ='row'
     fxFlexLayout='center center'
     fxLayout.lt-md='column'   
     >
    <div fxFlex='15%' fxHide.lt-md="true">   
    </div>
   
    <div fxFlex='60%'  style="padding:5%">     
        <router-outlet></router-outlet> 
    </div>
     
    <div fxFlex='15%'fxHide.lt-md="true">   
    </div>
  </div>
     <!-- !-->

     <!-- List of Articels section uploads as router pressed articels !-->
  <p class="articles-header">Articles</p>
  <div class="container"
     fxShow
     fxLayout ='row'
     fxFlexLayout='center center'
     fxLayout.lt-md='column'
     >
     <div fxFlex='20%' >
     </div>   
     <div fxFlexLayout='center center' fxLayout ='column' fxFlex="50%" fxFlexOrder.lt-md="2" style='padding:5%;'  >
       <div *ngFor='let p of post$ | async'
          [class.selected]="p.id === selectedId">
          <a [routerLink]="[p.id]" style="text-decoration: none;">             
            <div style="font-size:18px; color:green;">{{ p.title }}</div>      
            <div style="font-size:16px; color:gray;">{{ p.subtitle }}</div>               
            <p style="font-size:16px; color:gray; padding-left:50px">{{ p.shortParagraph }}</p>
          </a>
          <br>
        </div>
      </div>   
  </div>
            