<div class="container"
     fxShow
     fxLayout
     fxLayout.lt-md='column'
     fxLayoutGap="10px"
     fxLayoutGap.lt-md="0" >
      <div class="item item-1" fxFlex="20%" fxFlexOrder.lt-md="2" >
          
          <div *ngFor='let p of post$ | async'
             [class.selected]="p.id === selectedId" >
              <a [routerLink]="[p.id]" style="text-decoration: none;">
               <mat-card class="example-card" >
                  <mat-card-title>{{ p.title }}
                  </mat-card-title>
                  <mat-card-subtitle>{{ p.subtitle }}
                  </mat-card-subtitle>
                  <img mat-card-image [src]='p.image' >
                  <mat-card-content>
                      <p>
                         {{ p.shortParagraph }}
                     </p>
                  </mat-card-content>
                 
               </mat-card>
              </a>
              <br>
            </div>
      </div>
      <div  fxLayoutAlign="center start" fxFlex="60%" fxFlexOrder="1" fxLayoutGap="20px">
    
             <router-outlet></router-outlet>
      </div>  
</div>
