.example-card {
  max-width: 100%;
}

.example-header-image {
  background-size: cover;
   
}

.articles-header{
  font-size:16px; color:blue; padding-left:25%;text-decoration: underline; 
}

@media only screen and (max-width: 992px){
 .articles-header{
   font-size:16px; color:blue; padding-left:5%;text-decoration: underline; 
 }
 .container {
   margin-bottom: 250px;
 }
}